.photo-grid{
  display: grid;
  max-width: 1184px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  margin: 0 auto;
  grid-gap: 16px;
  margin-top: 92px;
}

@media screen and (max-width: 1279px) {
.photo-grid{
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 14px;
  max-width: 928px;
}
}

@media screen and (max-width: 1023px) {
.photo-grid{
  grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
  grid-gap: 16px;
  max-width: 720px;
}
}

@media screen and (max-width: 767px) {
.photo-grid{
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  grid-gap: 12px;
  max-width: 288px;
  margin-top: 64px;
}
}