.places{
  margin: 0 auto;
  max-width: 984px;
  margin-top: 92px;
}

@media screen and (max-width: 1279px) {
.places{
max-width: 928px;
}
}

@media screen and (max-width: 1023px) {
.places{
max-width: 720px;
margin-top: 88px;
margin-bottom: 90px;
}
}

@media screen and (max-width: 767px) {
.places{
max-width: 320px;
margin-top: 64px;
margin-bottom: 66px;
}
}