.lead{
  max-width: 984px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  margin-top: 56px;
}

@media screen and (max-width: 1279px) {
.lead{
  max-width: 928px;
  margin-top: 48px;
}
}

@media screen and (max-width: 1023px) {
  .lead{
    max-width: 768px;
    margin-top: 48px;
  }
}

@media screen and (max-width: 767px) {
  .lead{
    max-width: 320px;
    margin-top: 48px;
  }
}