.place__paragraph{
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
}

.place__paragraph:last-child{
  margin: 0;
}

@media screen and (max-width: 1023px) {
.place__paragraph{
  font-size: 16px;
  line-height: 163%;
  margin-bottom: 25px;
}
}

@media screen and (max-width: 767px) {
.place__paragraph{

}
}