.footer__copyright{
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #ffffff;
margin: 0;
padding: 0;
}



@media screen and (max-width: 767px) {
.footer__copyright{
  line-height: 14px;
  padding-top: 48px;
  }
}