.intro__main-text{
color: #ffffff;
font-weight: 400;
font-size: 16px;
line-height: 26px;
padding: 0;
margin: 0;
max-width: 690px;
padding-top: 40px;
}


@media screen and (max-width: 1023px) {
.intro__main-text{
  max-width: 720px;
  margin: 0 auto;
}
}

@media screen and (max-width: 767px) {
.intro__main-text{
  max-width: 288px;
}
}